{{ define "main" }}
<h1 class="mb-4">{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<a class="card hover-scale border-0 mb-3 text-decoration-none bg-gray-light" href="{{ .RelPermalink }}">
    <div class="row g-0">
        <div class="col-lg-2 col-3 p-3">
            <!-- If -->
            {{ if .Params.Logo}}
            <img src="{{ .Params.Logo }}" class="img-fluid rounded-circle" alt="Image" />
            <!-- Else -->
            {{else}}
            <span>{{.Name}}</span>
            <!-- End If -->
            {{end}}
        </div>
        <div class="col">
            <div class="card-body text-color d-flex flex-column align-items-start justify-content-start">
                <h3 class="card-title fw-bold">{{ .Title}}</h3>
                <h5 class="card-subtitle fw-bold mb-2">{{.Params.subtitle}}</h5>
                <p class="card-text">{{ .Summary }}</p>
                <div class="d-flex flex-row align-items-center justify-content-start w-100 h-auto">
                    {{ range .Params.Tags }}
                    <h5 class="me-2">
                        <span class="badge bg-primary">{{ . }}</span>
                    </h5>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="card-footer text-color">
            <small>{{.Params.createdAt}}</small>
        </div>
    </div>
</a>
{{ end }} {{ end }}