{{ define "main" }}
<section id="main">
    <div class="position-relative w-100 h-auto p-0">
        {{if .Params.Cover}}
        <img src="{{.Site.BaseURL}}{{ .Params.Cover }}" style="max-height: 315px; object-fit: cover"
            class="img-fluid w-100 rounded-5 shadow-sm" /> {{else}}
        <div class="w-100 rounded-5 shadow-sm" style="max-height: 315px"></div>
        {{end}}
        <div class="position-absolute" style="bottom: 10%; left: 0%; width: 15%; height: 15%">
            <!-- Start If -->
            {{if .Params.Logo}}
            <img src="{{.Site.BaseURL}}{{.Params.Logo}}" class="img-fluid rounded-circle shadow-sm border border-5"
                style="border-color: var(--rojo-blanco) !important" />
            <!-- Else -->
            {{else}}
            <span class="text-mute text-light"> {{.Name}} </span>
            <!-- End If -->
            {{end}}
        </div>
    </div>
    <div class="pt-5 pb-3"></div>
    <small>{{.Params.createdAt}}</small>
    <h1 id="title" class="fw-bold">{{ .Title }}</h1>
    <h2 id="title">{{ .Params.subtitle }}</h2>
    {{if .Params.Tags}}
    <div class="d-flex flex-row align-items-center justify-content-start w-100 h-auto">
        {{ range .Params.Tags }}
        <h5 class="me-2">
            <span class="badge bg-primary">{{ . }}</span>
        </h5>
        {{end}}
    </div>
    {{end}}
    <div>
        <article id="content">{{ .Content }}</article>
    </div>
</section>
{{ end }}