{{ define "main" }}
<h1 class="mb-4">{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<!--  -->
<a href="{{.RelPermalink}}" class="text-decoration-none">
    <div class="row hover-scale border-0 rounded-3">
        <img style="object-fit: cover" src="{{.Site.BaseURL}}{{ .Params.Image }}" class="img-fluid col-sm-3 p-0 bg-sombra-debil rounded-start" alt="{{.Params.Alt}}" />
        <div class="card col-sm p-0 border-0 rounded-0 rounded-end bg-sombra-debil">
            <div class="card-body text-color">
                <h5 class="card-title">{{.Title}}</h5>
                <p class="card-text">{{.Description}}</p>
            </div>
            <div class="card-footer text-color d-flex justify-content-between">
                <small> {{.PublishDate.Format "Monday, January 2, 2006"}} </small>
                <small> {{.Params.Author}} </small>
            </div>
        </div>
    </div>
</a>
<!--  -->
{{ end }}
<!--  -->
{{ end }}