<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main class="container-lg h-screen pt-5 pt-md-0">
        <section class="row h-100">
            <div class="d-md-flex sidebar-height d-none p-0 col-md-3 position-relative align-items-stretch">
                <div class="position-fixed col-md-3 sidebar-max-width">
                    {{- partial "sidebar.html" . -}}
                </div>
            </div>
            <div class="col-md p-5">{{- block "main" . }} {{- end }}</div>
        </section>
    </main>
    {{- partial "script.html" . -}}
</body>

</html>