{{ define "main" }}
<section id="main">
    <div class="position-relative w-100 h-auto p-0 mb-5">
        {{if .Params.Cover}}
        <img src="{{.Site.BaseURL}}{{ .Params.Cover }}" style="max-height: 315px; object-fit: cover" class="img-fluid w-100 rounded-5 shadow-sm" /> {{else}}
        <div class="w-100 rounded-5 shadow-sm" style="max-height: 315px"></div>
        {{end}}
        <div class="position-absolute" style="bottom: 10%; left: 0%; width: 15%; height: 15%">
            <!-- Start If -->
            {{if .Params.Logo}}
            <img src="{{.Site.BaseURL}}{{.Params.Logo}}" class="img-fluid rounded-circle shadow-sm border border-5" style="border-color: var(--rojo-blanco) !important" />
            <!-- Else -->
            {{else}}
            <span class="text-mute text-light"> {{.Name}} </span>
            <!-- End If -->
            {{end}}
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-start w-100 h-auto pt-3">
        {{ range .Params.Tags }}
        <h5 class="me-2">
            <span class="badge bg-primary">{{ . }}</span>
        </h5>
        {{end}}
    </div>
    <h1 id="title">{{ .Title }}</h1>
    <div>
        <article id="content">{{ .Content }}</article>
    </div>
</section>
{{ end }}