{{ define "main" }}
<section id="main">
    <div class="position-relative w-100 h-auto p-0 mb-5">
        {{if .Params.Cover}}
        <img src="{{.Site.BaseURL}}{{ .Params.Cover }}" style="max-height: 315px; object-fit: cover" class="img-fluid w-100 rounded-5 shadow-sm" /> {{else}}
        <div class="w-100 rounded-5 shadow-sm" style="max-height: 315px"></div>
        {{end}}
        <div class="position-absolute startup-page-logo">
            <!-- Start If -->
            {{if .Params.Logo}}
            <img src="{{.Site.BaseURL}}{{.Params.Logo}}" class="img-fluid rounded-circle shadow-sm border border-5" style="border-color: var(--rojo-blanco) !important" />
            <!-- Else -->
            {{else}}
            <span class="text-mute text-light"> {{.Name}} </span>
            <!-- End If -->
            {{end}}
            <!--  -->
        </div>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-start w-100 h-auto pt-4">
        {{ range .Params.Tags }}
        <h5 class="me-2">
            <span class="badge bg-primary shadow-sm">{{ . }}</span>
        </h5>
        {{end}}
    </div>
    <ul class="mb-3 p-0 d-flex flex-row align-items-center justify-content-start">
        {{ range .Params.enlaces}}
        <li class="text-capitalize hover-scale d-flex align-items-center justify-content-start py-1 px-2 bg-primary me-3 rounded-3">
            <!--  -->
            <a class="text-decoration-none text-light" href="{{.value}}">{{.key}}</a>
            <!--  -->
        </li>
        <!--  -->
        {{end}}
    </ul>
    <h1 id="title">{{ .Title }}</h1>
    <div>
        <article id="content">{{ .Content }}</article>
    </div>
</section>
{{ end }}